.review{
    padding: 0px 40px;
}
.review_qna_box{
    padding: 0px 10px;
}
.review_Questions{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.review_Questions input{
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.review_Questions button{
    /* width: 50px; */
    padding: 5px 20px;
    height: 40px;
    /* height: 100%; */
    background-color: #0071C2;
    transition: background-color 250ms;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 500;
}
.review_ask{
    height: 100%;
}
.disabled{
    background-color: grey !important;
    transition: background-color 250ms;
}